* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(4,13,66,1) 9%, rgba(6,40,51,1) 50%, rgba(0,212,255,1) 100%); 
    margin: auto;
    width: 90%;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
}

h1 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding: 1em;
    color: #252a30;
    animation: first_color .9s ease-in-out infinite alternate;
}

@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #2982f0, 0 0 15px #032855, 0 0 20px #2982f0
    }

    100% {
        text-shadow: 0 0 1px #2982f0, 0 0 5px #032855, 0 0 5px #6ffad2
    }
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* height: 60vh; */
}

.box-btn {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 5%;
    border: solid .5px #2982f0;
    background-color: #cee1f8;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    text-align: center;
    padding: 15px;
    margin: 4em auto 1em;
    color: #252a30;
}

input:hover {
    border-radius: 2%;
    border: solid .5px #147bf8;
    color: #147bf8;
}

button {
    display: block;
    justify-content: center;
    margin: auto;
    padding: 5px 8px;
    background-color: #032855;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10%;
    color: #a2c8f7;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px #6ffad2;
}

footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    color: #032855;
}